body {
            font-family: "Roboto", sans-serif;
            color: #434455;
            background-color: #ffffff;
}
/* ---HEADER--- */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;
}
.logo-accent {
    color: #4d5ae5;
}
.header {
    font-family: "Roboto", sans-serif;
}
.header li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    line-height: 1.5;
    text-decoration: none;

}
.header nav a {
    text-decoration: none;
    color: #2e2f42;

}
.header nav a:hover {
    color: #4d5ae5;
}
.header address {
    font-style: normal;
    font-family: "roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.header address a {
    text-decoration: none;
font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.header address a:hover {
    color: #4d5ae5;
}
/* ---HERO SECTION--- */
.hero {
    background-color: #2e2f42;
    color: #ffffff;
}
.hero-main { 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 32px; 
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* ---FEATURES SECTION--- */
.features li {
    list-style: none;
    font-family: "Roboto", sans-serif;  
}
.features-text {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

/* ---TEAM SECTION--- */
.team {
    background-color: #f4f4fd;
}
.team-list li{
    margin-bottom: 32px;
}
   
.team li {
    background-color: #ffffff;
    list-style: none;
    font-family: "Roboto", sans-serif;  

}
.team-main {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.team h3 {
    text-align: center;
    font-weight: 500;
line-height: 1.11;
background-color: #ffffff;
}
.team p {
    text-align: center;
    color: #434455;
    background-color: #ffffff;
}
/* ---PORTFOLIO SECTION--- */
.portfolio li {
    list-style: none;
    font-family: "Roboto", sans-serif;  
}
.portfolio-main {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.portfolio-text {
    font-family: "Roboto", sans-serif;
    color: #434455;
} 
/* ---FOOTER SECTION--- */
.footer {
    background-color: #2e2f42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.footer-logo-accent {
    color: #f4f4fd;
}
.footer p {
    color: #f4f4fd;

}